/***
 *      ________  _________
 *     / ___/ _ \/ __/ ___/
 *    / (_ / , _/ _// (_ / 
 *    \___/_/|_/___/\___/  
 *
 *    2018
 *    ∆
 *    Gregory P. Evans 
 *    greg.peter.evans@gmail.com
 *
 */

 @font-face {
  font-family: 'Banana-Grotesk-Regular';
  src: url('fonts/Banana_Grotesk_BETA_0739-Regular.woff2') format('woff2'),
       url('fonts/Banana_Grotesk_BETA_0739-Regular.woff') format('woff'),
       url('fonts/Banana_Grotesk_BETA_0739-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Banana-Grotesk-Black';
  src: url('fonts/Banana_Grotesk_BETA_0739-Black.woff2') format('woff2'),
       url('fonts/Banana_Grotesk_BETA_0739-Black.woff') format('woff'),
       url('fonts/Banana_Grotesk_BETA_0739-Black.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}



/********************************************************************
                          Global
********************************************************************/

*,*:before, *:after {
margin: 0;
padding: 0;
box-sizing: border-box;
//border: 1px solid #000;
}

html {
width: 100vw;
font-size: 16px;
}

body {
font-family: 'Banana-Grotesk-Regular', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-weight: 400;
background: #f5f5f5;
width: 100vw;
padding: 0;
-webkit-font-smoothing: antialiased;
}

h1 {
font-size: 1.5rem;
font-weight: 400;
padding-bottom: 2rem;
> span {
  color: #ACACAC;
}
}

h2 {
font-size: 3rem;
font-weight: 400;
padding-bottom: 5rem;
max-width: 999px;
> span.underline {
  border-bottom: 1px solid #F2E3E4;
  box-shadow: inset 0 -6px 0 #F2E3E4;
}
}

p {
font-size: 1rem;
font-weight: 400;
color: #000;
letter-spacing: .6px;
line-height: 1.5rem;
margin-bottom: 2rem;
}

a {
font-size: 2rem;
text-transform: none;
text-decoration: none;
color: #000000;
letter-spacing: 1px;
text-decoration: none;
letter-spacing: 1px;
}

a:hover {
transition: 0.1s;
color: rgba(247, 193, 195, 1.0);
}

li {
list-style: none;
> a {
  //font-family: 'Banana-Grotesk-Regular';
  color: #FFF;
  font-weight: 100;
}
}

img, svg, picture {
display: block;
width: 100%;
}



/********************************************************************
                        Menu OVERLAY
********************************************************************/

.the-dot {
cursor: pointer;
background: #000;
display: inline-block;
transition: all .2s;
opacity: 1;
width: 20px;
height: 20px;
border-radius: 20px;
margin-left: 4rem;
}

.the-dot.open {
background: #fff;
z-index: 9999;
}

.menu-overlay {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: #000000;
opacity: 0;
visibility: hidden;
z-index: 99;
transition: visibility 0.5s ease, opacity .1s ease;
}

.menu-overlay.open {
opacity: 1;
visibility: visible;
}

.nav {
padding-top: .5rem;
padding-left: 10vw;
}

.nav li {
margin: .8rem 0;
transform: translateX(-40px);
opacity: 0;
transition: all .4s ease;
}

.open .nav li {
transform: translateX(0);
opacity: 1;
}

p.nav {
color: #999999;
transform: translateX(-40px);
opacity: 0;
transition: all .4s ease;
transition-delay: 250ms;
padding-top: 2rem;
}

.open p.nav {
transform: translateX(0);
opacity: 1;
}

.open .nav li:nth-child(1) {
transition-delay: 100ms;
}
.open .nav li:nth-child(2) {
transition-delay: 150ms;
}
.open .nav li:nth-child(3) {
transition-delay: 200ms;
}
.open .nav li:nth-child(4) {
transition-delay: 250ms;
}

.nav a {
color: #fff;
font-size: 5rem;
text-decoration: none;
transition: all 0.3s ease;
}

.nav a:hover{
opacity: 0.6;
}

.open .nav a {
border-bottom: 1px solid #999999;
}



/********************************************************************
                        Object Fixed
********************************************************************/

.object {
position: fixed;
bottom: 66px;
left: 3vw;
color: #FFF;
z-index: 999;
> a img {
  width: auto;
  height: 44px;
}
}



/********************************************************************
                        Navigation
********************************************************************/

.left-nav {
position: fixed;
left: 0px;
top: 0px;
bottom: 0px;
z-index: 100;
display: flex;
width: 10vw;
height: 100vh;
padding-top: 40px;
padding-bottom: 40px;
flex-direction: column;
align-items: center;
background-color: transparent;
}

.left-nav-inner {
display: flex;
height: 40px;
flex-direction: row;
align-items: center;
transform: rotate(90deg);
z-index: 999;
> a {
  font-family: 'Banana-Grotesk-Black';
  font-size: .9rem;
  display: inline-block;
  margin-left: 2rem;
  margin-bottom: 2px;
  background: #000;
  color:#FFF;
  padding: 4px;
}
}

.right-nav {
position: fixed;
top: 0px;
right: 0px;
bottom: 0px;
z-index: 99;
display: flex;
width: 10vw;
padding-bottom: 40px;
flex-direction: column;
justify-content: flex-end;
align-items: center;
background-color: transparent;
}

.right-nav-inner {
display: flex;
margin-bottom: 10rem;
transform: rotate(-90deg);
color: #000;
background: #F5F5F5;
font-size: 1.1rem;
justify-content: space-between;
align-items: baseline;
padding: 1px 0px 5px;
> a {
  font-size: 1.5rem;
  display: inline-block;
  font-weight: 100;
  z-index: 99;
  padding: 0px 13px;
}
}



/********************************************************************
                        Article WRAPPER
********************************************************************/

.article-wrapper {
max-width: 1600px;
margin: 0 auto;
padding-top: 18rem;
padding-right: 10vw;
padding-bottom: 10vw;
padding-left: 10vw;
> p {
  color: #ACACAC;
}
}



/********************************************************************
                        Masonry FLEX
********************************************************************/

.main-container {
max-width: 1600px;
margin: 0 auto;
padding: 8vw 10vw 0vw 10vw;
display: flex;
flex-direction: row;
width: 100%;
}

.container-1 {
padding-right: 3vw;
flex: 2;
}

.container-2 {
padding-top: 8vw;
flex: 1;
}

.container-3 {
flex: 1;
}

.container-4 {
 flex: 2;
}

.container-5 {
padding-right: 3vw;
flex: 1;
}



/********************************************************************
                        BS tweaks
********************************************************************/
/*
.macbook {
position: relative;
width: 50vw;
margin-right: 3vw;
height: 21vw;
overflow: hidden;
background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1022026/BeccRock.jpg");
background-size:100%;
background-repeat: no-repeat;
display: block;
}




.macbook img {
position: absolute;
opacity: 0; 
  animation-name: fade; 
  animation-duration: 9s; 
  animation-iteration-count: infinite;
max-width: 100%;
width: 100%;
}

.macbook-right img {
width: 47vw;
float: right;
// border: 1px solid #000;
}


@keyframes fade {
  0%   { opacity: 0; }
  11.1111111111%   { opacity: 1; }
  33.3333333333%  { opacity: 1; }
  44.4444444444%  { opacity: 0; }
  100% { opacity: 0; }
}

.macbook img:nth-child(1) { animation-delay: 0s; }
.macbook img:nth-child(2) { animation-delay: 3s; }
.macbook img:nth-child(3) { animation-delay: 6s; }
*/




/********************************************************************
                        Footer
********************************************************************/

footer {
max-width: 1600px;
margin: 0 auto;
padding-top: 10vw;
padding-right: 10vw;
padding-left: 10vw;
}




/********************************************************************
                        Underline
********************************************************************/

.ect {
cursor: pointer;
text-decoration: none;
border-bottom: 1px solid #F2E3E4;
box-shadow: inset 0 -6px 0 #F2E3E4;
transition: background 0.4s ease-out;
}

.ect:hover {
cursor: pointer;
text-decoration: none;
border-bottom: 1px solid #F3DADE;
box-shadow: inset 0 -6px 0 #F3DADE;
}



/********************************************************************
                        Accordian
********************************************************************/

.accordian {
color: #ABABAB;
width: 100%;
}

.one {
display: block;
}

.box h2 {
font-size: 1.5rem;
> span {
  color: #000;
}
}



/********************************************************************
                        Loading GIF
********************************************************************/

.no-js #loader {
display: none; 
}

.js #loader {
display: block;
position: absolute;
left: 100px;
top: 0;
}

.se-pre-con {
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 9999;
background: url(/Ron.gif) center no-repeat #fff;
}







/***
*              _____                    _____                    _____                    _____                    _____          
*             /\    \                  /\    \                  /\    \                  /\    \                  /\    \         
*            /::\    \                /::\    \                /::\    \                /::\    \                /::\____\        
*           /::::\    \              /::::\    \              /::::\    \              /::::\    \              /:::/    /        
*          /::::::\    \            /::::::\    \            /::::::\    \            /::::::\    \            /:::/    /         
*         /:::/\:::\    \          /:::/\:::\    \          /:::/\:::\    \          /:::/\:::\    \          /:::/    /          
*        /:::/__\:::\    \        /:::/__\:::\    \        /:::/__\:::\    \        /:::/__\:::\    \        /:::/____/           
*       /::::\   \:::\    \      /::::\   \:::\    \      /::::\   \:::\    \      /::::\   \:::\    \      /::::\    \           
*      /::::::\   \:::\    \    /::::::\   \:::\    \    /::::::\   \:::\    \    /::::::\   \:::\    \    /::::::\____\________  
*     /:::/\:::\   \:::\ ___\  /:::/\:::\   \:::\____\  /:::/\:::\   \:::\    \  /:::/\:::\   \:::\    \  /:::/\:::::::::::\    \ 
*    /:::/__\:::\   \:::|    |/:::/  \:::\   \:::|    |/:::/__\:::\   \:::\____\/:::/  \:::\   \:::\____\/:::/  |:::::::::::\____\
*    \:::\   \:::\  /:::|____|\::/   |::::\  /:::|____|\:::\   \:::\   \::/    /\::/    \:::\  /:::/    /\::/   |::|~~~|~~~~~     
*     \:::\   \:::\/:::/    /  \/____|:::::\/:::/    /  \:::\   \:::\   \/____/  \/____/ \:::\/:::/    /  \/____|::|   |          
*      \:::\   \::::::/    /         |:::::::::/    /    \:::\   \:::\    \               \::::::/    /         |::|   |          
*       \:::\   \::::/    /          |::|\::::/    /      \:::\   \:::\____\               \::::/    /          |::|   |          
*        \:::\  /:::/    /           |::| \::/____/        \:::\   \::/    /               /:::/    /           |::|   |          
*         \:::\/:::/    /            |::|  ~|               \:::\   \/____/               /:::/    /            |::|   |          
*          \::::::/    /             |::|   |                \:::\    \                  /:::/    /             |::|   |          
*           \::::/    /              \::|   |                 \:::\____\                /:::/    /              \::|   |          
*            \::/____/                \:|   |                  \::/    /                \::/    /                \:|   |          
*             ~~                       \|___|                   \/____/                  \/____/                  \|___|          
*                                                                                                                                 
*/




@media only screen and (max-width: 766px) {
.nav {
  padding-top: 6rem;
  padding-left: 6vw;
  padding-right: 6vw;
}
.nav p {
  padding-top: 1rem;
}
.object {
  display: none;
}
.article-wrapper {
  padding-top: 14rem;
  padding-left: 6vw;
  padding-right: 6vw;
}
.left-nav, .right-nav {
  width: 2rem;
}
.right-nav-inner {
  margin-right: 12px;
  display: none;
}
.left-nav-inner {
  margin-left: 13.3vw;
  transform: rotate(0deg);
}
h1 {
  font-size: 1rem;
}
h2 {
  font-size: 2.5rem;
}
p {
  max-width: 90%;
}
a, .sub {
  font-size: 1.5rem;
}
footer {
  margin-bottom: 1.5rem;
}
span.em-dash-footer {
  width: 6px;
}
.main-container {
padding: 0 6vw;
padding-top: 0;
display: flex;
flex-direction: column;
}
.container-1, .container-2, .container-3, .container-4, .container-5, {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 2vw;
  flex: 1 0 auto;
  align-self: flex-start;
  overflow: hidden;
}
}



@media only screen and (max-width: 500px) {

.right-nav-inner {
  margin-right: 12px;
  display: none;
}
}

@media only screen and (max-width: 500px) {

.nav a {
  font-size: 3rem;
}

.contact-about h2 {
  font-size: 1.6rem;
}
}